<div *ngIf="product.title" class="card">
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{ product.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price | currency: 'Rs. ' : true }}</p>
    </div>
    <div *ngIf="showActions" class="card-footer">
        <button id="btn_add" *ngIf="getQuantity() === 0; else updateQuantity" 
            (click)="addToCart()" 
            class="btn btn-secondary btn-block">Add to Cart</button>
        <ng-template #updateQuantity>
            <div class="row no-gutters">
                <div class="col-2">
                    <button
                    (click)="removeFromCart()" id='btn_plus_min' class="btn btn-secondary btn-block">-</button>
                </div>
                <div class="col text-center">
                   {{ getQuantity() }} in Cart
                </div>
                <div class="col-2">
                    <button
                    (click)="addToCart()" id='btn_plus_min' class="btn btn-secondary btn-block">+</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>