.card-footer {
    padding: 0;
}

.card {
    margin-bottom: 30px;
}

#btn_add {
    background-color: olivedrab;
}

#btn_plus_min {
    background-color: olivedrab;
}

.card-footer button {
    cursor: pointer;
}

.btn {
    background-color: #f4511e;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }
  
.btn:hover {opacity: 1}