<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://nilsonline.lk/image/cache/catalog/nils/product/WEB0410200-2880x1180.jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://nilsonline.lk/image/cache/catalog/nils/product/mainslideORGq2-2880x1180.jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://nilsonline.lk/image/cache/catalog/nils/product/mainslideORddG2-2880x1180.jpg">
        </div>
    </ng-template>
    
</owl-carousel-o>