<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <p>
        You have {{ cart.totalItemsCount }} items in your shopping cart.
        <button *ngIf="cart.items.length" (click)="clearCart()" class="btn btn-light btn-sm">Clear Shopping
            cart</button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center" style="width: 230px;">Quantity</th>
                <th class="text-right" style="width: 200px;">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td>
                    <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
                </td>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
                </td>
                <td class="text-right">
                    {{ item.totalPrice | currency: 'Rs. ' : true }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">{{ cart.totalPrice | currency: 'Rs. ' : true  }}</th>
            </tr>
        </tfoot>
    </table>
    <a 
    *ngIf="cart.items.length" 
    class="btn btn-primary btn-lg btn-block button1"
    routerLink="/check-out"
    >Check-Out</a>

</ng-container>