<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="super_container" *ngIf="cart$ | async as cart">
    <div class="single_product">
        <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
            <div class="mom">
                <div class="col-lg-2 order-lg-1 order-2">
                    <ul class="image_list">
                        <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713229/single_4.jpg"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713229/single_4.jpg" alt=""></li>
                        <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_2.jpg"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_2.jpg" alt=""></li>
                        <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_3.jpg"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_3.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="col-lg-4 order-lg-2 order-1">
                    <div class="image_selected"><img *ngIf="product.imageUrl" [src]="product.imageUrl"></div>
                </div>
                <div class="col-lg-6 order-3">
                    <div class="product_description">
                        <hr class="singleline">
                        <div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-xs-6" style="margin-left: 15px;"> <span class="product_options">RAM Options</span><br> <button class="btn btn-primary btn-sm">4 GB</button> <button class="btn btn-primary btn-sm">8 GB</button> <button class="btn btn-primary btn-sm">16 GB</button> </div>
                                <div class="col-xs-6" style="margin-left: 55px;"> <span class="product_options">Storage Options</span><br> <button class="btn btn-primary btn-sm">500 GB</button> <button class="btn btn-primary btn-sm">1 TB</button> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6" style="margin-left: 13px;">
                                <div class="product_quantity"> <span>QTY: </span> <input id="quantity_input" type="text" pattern="[0-9]*" value="1">
                                    <div class="quantity_buttons">
                                        <div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fas fa-chevron-up"></i></div>
                                        <div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fas fa-chevron-down"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showActions && cart" class="card-footer">
                                <a id="btn_add" *ngIf="cart.getQuantity(product) === 0; else updateQuantity" 
                                    class="btn btn-secondary btn-block"
                                    (click)="addToCart()">Add to Cart</a>
                                <ng-template #updateQuantity>
                                    <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
                                </ng-template>
                                <div class="bla">
                                    <product-view [product]="product" [shopping-cart]="shoppingCart"></product-view>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <h2>Bootstrap Counter Field</h2>
                            <div class="row">
                                <div>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                      <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                        </span>
                                        <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                                        <span class="input-group-btn">
                                      <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                          <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <form #f="ngForm" (ngSubmit)="addToCart()">
                    <div class="wrapper row containerx">
                        <div class="preview col-md-6">
                            <div class="preview-pic tab-content">
                                <div class="tab-pane active card" id="pic-1"><img [src]="product.imageUrl" /></div>
                                <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
                                <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
                                <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
                                <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
                            </div>
                            <ul class="preview-thumbnail nav nav-tabs">
                                <!-- <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                                            src="http://placekitten.com/200/126" /></a></li>
                                <li><a data-target="#pic-2" data-toggle="tab"><img
                                            src="http://placekitten.com/200/126" /></a></li>
                                <li><a data-target="#pic-3" data-toggle="tab"><img
                                            src="http://placekitten.com/200/126" /></a></li>
                                <li><a data-target="#pic-4" data-toggle="tab"><img
                                            src="http://placekitten.com/200/126" /></a></li>
                                <li><a data-target="#pic-5" data-toggle="tab"><img
                                            src="http://placekitten.com/200/126" /></a></li> -->
                            </ul>
                        </div>
                        <div class="details col-md-6">
                            <h3 class="product-title">{{ product.title }}</h3>
                            <p class="product-description">{{ product.description }}</p>
                            <h4 class="price">Price: <span>{{ product.price | currency: 'Rs. ' : true }}</span></h4>
                            <div class="action">
                                <div class="form-group">
                                    <label for="size">Select Size</label>
                                    <select #size="ngModel" [(ngModel)]="sizeOf" class="form-control" name="size" id="size" required>
                                        <option value="XS">XS</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                    </select>
                                    <div class="alert alert-danger" *ngIf="size.touched && size.invalid">
                                        Size is required!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Select Quantity</label>
                                    <select #quantity="ngModel" [(ngModel)]="qty" name="quantity" class="form-control" id="quantity" required>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                    </select>
                                    <div class="alert alert-danger" *ngIf="quantity.touched && quantity.invalid">
                                        Quantity is required!
                                    </div>
                                </div>
                            </div>
                            <div class="action">
                                <button class="btn add-to-cart btn btn-default" click="addToCart()" type="submit">Add to cart</button>
                                <button class="like btn btn-default" type="button"><span
                                        class="fa fa-heart"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>