<div class="row">
  <div class="col-50">
    <div class="container">
      <form #f="ngForm">
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <div class="form-group">
              <label for="fname">Full Name</label>
              <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
              <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                <div *ngIf="name.errors.required">Name is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input #email="ngModel" name="email" [(ngModel)]="shipping.email" type="text" class="form-control"
                required>
              <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors.required">Email is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input #address="ngModel" name="address" [(ngModel)]="shipping.address" type="text" class="form-control"
                required>
              <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
                <div *ngIf="address.errors.required">Address is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="city"><i class="fa fa-institution"></i> City</label>
              <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control" required>
              <div>
                <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
                  <div *ngIf="city.errors.required">City is required.</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-50">
                <label for="Province"><i class="fa fa-institution"></i> Province</label>
                <input #province="ngModel" name="province" [(ngModel)]="shipping.province" type="text"
                  class="form-control" required>
                <div>
                  <div class="alert alert-danger" *ngIf="province.touched && province.invalid">
                    <div *ngIf="province.errors.required"> Province is required.</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-50">
                <label for="Zip"><i class="fa fa-institution"></i> Zip</label>
                <input #zip="ngModel" name="zip" [(ngModel)]="shipping.zip" type="text" class="form-control" required>
                <div>
                  <div class="alert alert-danger" *ngIf="zip.touched && zip.invalid">
                    <div *ngIf="zip.errors.required"> Zip is required.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <button (click)="placeOrder()" class="button button1 btn">Place Order</button>
      </form>
    </div>
  </div>

  <div class="col-50">
    <div class="container" *ngIf="cart$ | async as cart">
      <h4>Cart
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b>{{sCIC}}</b>
        </span>
      </h4>
      <table class="table">
        <tr *ngFor="let item of cart.items">
          <td>
            {{ item.title }}
          </td>
          <td class="text-right">
            {{ item.totalPrice | currency: 'Rs. ' : true }}
          </td>
        </tr>
      </table>
      <hr>
      <p>Total <span class="price" style="color:black"><b>{{ cart.totalPrice | currency: 'Rs. ' : true  }}</b></span>
      </p>
    </div>
  </div>
</div>