  <div class="container" id="container sign-in-container">
    <div>
        <form #loginForm="ngForm" (ngSubmit)="upload(loginForm)">
            
            <div>
                <h1 style="margin:10px 0;">Request a Design</h1>
            </div>
            <span></span>
            <span>Select an image of your design</span>
            <input type="file" (change)="onUpload($event)"/>
            
            <span>Enter you size and needed quantity in the description</span>
			<input ngModel #description="ngModel" name="description" type="text" placeholder="Description" />
			<button type="submit" >Request</button>
		</form>
    </div>
  </div>