<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Sign Up</h2>
      </div>
      <div class="row clearfix">
        <div class="">
            <!-- <div>
                {{ authError?.message}}
            </div> -->
          <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input ngModel #firstName="ngModel" type="text" name="firstName" placeholder="First Name" />
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input ngModel #lastName="ngModel" type="text" name="lastName" placeholder="Last Name" required />
                </div>
              </div>
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input ngModel #email="ngModel" type="email" name="email" placeholder="Email" required />
              </div>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input ngModel #password="ngModel" type="password" name="password" placeholder="Password" required />
              </div>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input ngModel #passwordc="ngModel" type="password" name="passwordc" placeholder="Re-type Password" required />
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Register</button>
              </div>
            <input class="button" routerLink="/login" value="Sign In" />
          </form>
        </div>
      </div>
    </div>
  </div>